/* ========= GLOBAL ===============*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none
}

/* ========= HEADER ===============*/
header{
  background-color: gray;
  height: 8vh;

  display: flex;
  justify-content: space-between;
  
}

h1{
  font-size: 1.5rem;
}

ul{
  list-style-type: none;
}

.titulo{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.menu{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

/* ========= BODY ===============*/

.apresentacao{
  background-color: lightgray;
  padding: 1.3rem 0.8rem 1.3rem 0.8rem 
}

.apresentacao > h2{
  margin: 1rem 0rem 1.5rem 0rem;
}

figure > img{
  border-radius: 50%;
  height: 15rem;
  box-shadow: 10px 5px 12px rgba(0, 0, 0, 0.5)
  
}

figure{
  display: flex;
  justify-content: center;
  
}

.perfil{
  text-align: justify;
}

/* section hobbies */

.ranks{
  padding: 0rem 0.8rem 1.3rem 0.8rem;
}

.hobbies > h2, .top5 > h2{
  margin: 1.5rem 0rem 0.5rem 0rem;
}

.hobbies .primeira-coluna-hobbies{
  display: flex;
  gap: 2rem;

}

.hobbies .segunda-coluna-hobbies{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.primeira-coluna-hobbies > div, .segunda-coluna-hobbies > div{
  display: flex;
  border-radius: 6%;
  width: 7.5rem;
  height: 10rem;
  background-color: lightblue; 
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 1.5rem;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  
}

.primeira-coluna-hobbies > div > p, .segunda-coluna-hobbies > div > p{
  margin-bottom: 1rem;
}

/* section top 5 */